<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089012518837-djedrcrqppe0j61mh5hhqbck4fihui3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089012518837-djedrcrqppe0j61mh5hhqbck4fihui3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089012518837-pp3g6p4bgjpp7a7lj8c17qe08pakuq9a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC42duIkEMbu14_B6gCynv1SgWWiyr-HgA</string>
	<key>GCM_SENDER_ID</key>
	<string>1089012518837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-6a588</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-6a588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089012518837:ios:e796e150f6a3d1c632d3fc</string>
</dict>
</plist>